body {
}
.dropdown-top-menu {
    padding-left: 0px;
    padding-right: 15px;
}
.user-header-top-menu {
    height: auto !important;
    width: auto !important;
}
.register-box-top-menu {
    margin: auto !important;
}
.error-message {
    color: salmon;
}
.confirm-message {
    color: #51C227;
}
.checkbox-align-left {
    text-align: left !important;
}

