@model GuildWars2Web.Models.ProfileViewModel 

<!--Sidebar user panel -->
<div class="user-panel">
    <div class="pull-left image">
        <img src="@Url.Content("~/Content/Images/Logo/gw2_logo_red.png")" alt="User Image">
    </div>
    <div class="pull-left info">
        <p><b>@(Model.Username)</b></p>
        <a href="#">Lvl @(Model.Level) @(Model.Rank)</a>
    </div>
</div>
